.Header {
  position: fixed;
  box-sizing: border-box;
  background: hsla(0, 0%, 95%, 0.8);
  margin-bottom: 15px;
  padding: 10px 15px;
  width: 100%;
  z-index: 99;
  margin-left: 8px;
  text-align: center;
}
.header-text {
  left: 15px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.desktop{
  position: relative;
}

.rectangle {
  padding: 0;
  position: absolute;
  right: 10px;
}

.container-fluid {
  display: block;
}

.main {
  width: 68%;
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
  padding-top: 30px;
}
.box-1 {
  width: 970px;
  height: 160px;
  position: relative;
  top: 20px;
  background-color: #d9d9d9;
}
.box-2 {
  width: 970px;
  height: 250px;
  background-color: #d9d9d9;
  position: relative;
  top: 30px;
}

.box-container {
  width: 970px;
  position: relative;
  top: 40px;
  gap: 8px;
  justify-content: space-between;
  display: flex;
}

.b-1 {
  width: 728px;
  height: 90px;
  background-color: #d9d9d9;
  position: relative;
}

.b-2 {
  width: 234px;
  height: 90px;
  background-color: #d9d9d9;
}

.box-3 {
  width: 970px;
  position: relative;
  top: 50px;
  gap: 10px;
  justify-content: space-between;
  display: flex;
}

.feed-1 {
  width: 67%;
}

.feed-1a {
  gap: 5px;
  display: flex !important;
}

.f-1a {
  width: 362px;
  height: 252px;
}

.f-1b {
  width: 300px;
  height: 250px;
  background-color: #d9d9d9;
}

.feed-2a {
  gap: 5px;
  display: flex;
  margin-top: 10px;
}

.f-2a {
  width: 314px;
  height: 200px;
  background-color: #d9d9d9;
}

.f-2b {
  width: 336px;
  height: 280px;
  background-color: #d9d9d9;
}

.f-2c {
  width: 302px;
  height: 120px;
  position: relative;
}

.feed-3 {
  width: 33%;
}

.feed-3a {
  width: 300px !important;
  height: 600px;
  margin-left: 10px;
  background-color: #d9d9d9;
}

.box-4 {
  width: 970px;
  height: 160px;
  position: relative;
  top: 60px;
  background-color: #d9d9d9;
}

li {
  list-style: none;
  margin-bottom: 10px;
}

.li-1 {
  width: 350px;
  height: 32px;
  background-color: #d9d9d9;
}

.li-2 {
  width: 88px;
  height: 16px;
  background-color: #d9d9d9;
}

.li-3 {
  width: 350px;
  height: 16px;
  background-color: #d9d9d9;
}

.li-9 {
  width: 244px;
  height: 22px;
  background-color: #d9d9d9;
}

.li2-1 {
  width: 314px;
  height: 32px;
  background-color: #d9d9d9;
  margin-top: 10px;
}

.li2-2 {
  width: 314px;
  height: 20px;
  background-color: #d9d9d9;
  margin-top: 15px;
}

.li2-3 {
  width: 662px;
  height: 20px;
  background-color: #d9d9d9;
  margin-top: 18px;
}

.li2-4 {
  width: 662px;
  height: 20px;
  background-color: #d9d9d9;
}

.icon {
  height: 5%;
  width: 5%;
}
.footer{
  background-color: #4d4d4d;
  bottom: 0;
  height: 48px;
  margin-top: 15px;
  position: fixed;
  width: 100%;
  z-index: 9;
}
.qr{
  left: 0;
  padding-bottom: 48px;
  width: 468px;
  position: fixed;
}
h2 {
  font-size: calc(1.325rem + .9vw);
}
svg:not(:root).svg-inline--fa, svg:not(:host).svg-inline--fa {
  overflow: visible;
  box-sizing: content-box;
}
.qr-title{
  align-items: center;
  color: #e6e6e6;
  display: flex;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  margin-left: 10px;
}
.accordion-button {
  background: #333;
  border-radius: 0;
  border-radius: 5px 5px 0 0;
}
