.Header {
  position: fixed;
  box-sizing: border-box;
  background: hsla(0, 0%, 95%, 0.8);
  margin-bottom: 15px;
  padding: 10px 15px;
  width: 100%;
  z-index: 99;
  margin-left: 8px;
  text-align: center;
}
.header-text {
  left: 15px;
  position: absolute;
  top: 50%;
}
.desktop {
  position: relative;
}

.rectangle {
  padding: 0;
  position: absolute;
  right: 10px;
}

.container-fluid {
  display: block;
}

.main {
  width: 100%;
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
  height: 100vh;
  overflow-y: auto;
  /* position: relative; */
  /* padding-top: 30px; */
  max-width: 970px;
}
.box-1 {
  width: 970px;
  height: 160px;
  position: relative;
  top: 20px;
  background-color: #d9d9d9;
}
.box-2 {
  width: 970px;
  height: 250px;
  background-color: #d9d9d9;
  position: relative;
  top: 30px;
}

.box-container {
  width: 970px;
  position: relative;
  top: 40px;
  gap: 8px;
  justify-content: space-between;
  display: flex;
}

.b-1 {
  width: 728px;
  height: 90px;
  background-color: #d9d9d9;
  position: relative;
}

.b-2 {
  width: 234px;
  height: 90px;
  background-color: #d9d9d9;
}

.box-3 {
  width: 970px;
  position: relative;
  top: 50px;
  gap: 10px;
  justify-content: space-between;
  display: flex;
}

.feed-1 {
  width: 67%;
}

.feed-1a {
  gap: 5px;
  display: flex !important;
}

.f-1a {
  width: 362px;
  height: 252px;
}

.f-1b {
  width: 300px;
  height: 250px;
  background-color: #d9d9d9;
}

.feed-2a {
  gap: 5px;
  display: flex;
  margin-top: 10px;
}

.f-2a {
  width: 314px;
  height: 200px;
  background-color: #d9d9d9;
}

.f-2b {
  width: 336px;
  height: 280px;
  background-color: #d9d9d9;
}

.f-2c {
  width: 302px;
  height: 120px;
  position: relative;
}

.feed-3 {
  width: 33%;
}

.feed-3a {
  width: 300px !important;
  height: 600px;
  margin-left: 10px;
  background-color: #d9d9d9;
}

.box-4 {
  width: 970px;
  height: 160px;
  position: relative;
  top: 60px;
  background-color: #d9d9d9;
}

li {
  list-style: none;
  margin-bottom: 10px;
}

.li-1 {
  width: 350px;
  height: 32px;
  background-color: #d9d9d9;
}

.li-2 {
  width: 88px;
  height: 16px;
  background-color: #d9d9d9;
}

.li-3 {
  width: 350px;
  height: 16px;
  background-color: #d9d9d9;
}

.li-9 {
  width: 244px;
  height: 22px;
  background-color: #d9d9d9;
}

.li2-1 {
  width: 314px;
  height: 32px;
  background-color: #d9d9d9;
  margin-top: 10px;
}

.li2-2 {
  width: 314px;
  height: 20px;
  background-color: #d9d9d9;
  margin-top: 15px;
}

.li2-3 {
  width: 662px;
  height: 20px;
  background-color: #d9d9d9;
  margin-top: 12px;
}

.li2-4 {
  width: 662px;
  height: 20px;
  background-color: #d9d9d9;
}

.icon {
  height: 5%;
  width: 5%;
}
.footer {
  background-color: #4d4d4d;
  bottom: 0;
  height: 48px;
  margin-top: 15px;
  position: fixed;
  width: 100%;
  z-index: 9;
}
.qr {
  left: 0;
  padding-bottom: 48px;
  width: 468px;
  position: fixed;
  bottom: 0;
  height: 310px;
  box-sizing: border-box;
  border-radius: 4px;
}

.qr_title {
  background: #333;
  border-radius: 5px 5px 0 0;
}

span.qr_title {
  align-items: center;
  color: #e6e6e6;
  display: flex;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
}

.svg-inline--fa {
  width: 6px;
  display: var(--fa-display, inline-block);
  height: 3em;
  vertical-align: -0.125em;
}
.accordion-body{
  background: #f5f5f5;
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(0,0,0,.15);
    padding: 1rem 1.25rem;
    box-sizing: border-box;
    height: 221px;
    box-sizing: border-box;
}
.qr_body{
  align-items: start;
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
  text-align: center;
  height: 184px;
}
.device_layout{
  height: 80px;
  width: 80px;
  border: 5px solid #b3b3b3;
   
}
.img{
  border-radius: 4px;
  height: auto;
  max-width: 100%;
  width: auto;
}
.device_info{
  background: #fff;
  border-radius: 4px;
  color: #666;
  font-size: 14px;
  font-weight: 500;
  margin: 0 8px;
  padding: 8px 15px;
  text-align: left;
  width: 209px;
}
.device_info svg {
  margin-right: 10px;
}
.svg-inline--fa.fa-square {
  height: 15px;
  width: 13px;
  margin-left: 10px;
}
.svg-inline--fa.fa-mobile {
  height: 15px;
  width: 13px;
  margin-left: 10px;
}
.svg-inline--fa.fa-desktop {
  height: 15px;
  width: 13px;
  margin-left: 10px;
}
.svg-inline--fa.fa-expand{
  height: 15px;
  width: 12px;
  margin-left: 10px;

}
.svg-inline--fa.fa-video{
  height: 15px;
  width: 13px;
  margin-left: 10px;
}
.svg-inline--fa.fa-paper-plane{
  height: 15px;
  width: 13px;
  margin-left: 10px;
}
.d-info4{
  margin-top: 25px;
}
.d-info5{
  color: #ff3c28;
}
.device_qr {
  background: #fff;
  border: 5px solid #b3b3b3;
  border-radius: 4px;
  height: 145px;
  width: 95px;
}
#copy_qrcode {
  display: inline-block;
  position: relative;
}
.download_qr {
  background: #fff;
  color: #b3b3b3;
  cursor: pointer;
  font-size: 10px;
  font-weight: 600;
  padding-bottom: 15px;
}
.player_area {
  background: hsla(0,0%,100%,.9);
  border: 3px solid #ccc;
  border-radius: 64px;
  margin-left: 50%;
  margin-bottom: 60px;
  z-index: 999999999;
  width: 144px;
  height: 40px;
  bottom: 0;
  box-sizing: border-box;
  /* padding-bottom: 48px; */
  position: fixed



}
.play_time {
    color: #666;
    font-size: 14px;
    font-weight: 600;
    width: 50px;
    text-align: center;
}
.svg-inline--fa.fa-arrow-rotate-right{
  font-size: 24px;
  width: 24px;
  height: 24px;
  /* margin-right: 0.25rem!important; */
  margin-left:  0.30rem!important;
  margin-top: 5px;
}
.player{
  margin-bottom: 10px;
}
